.bag {
  background: #000;
  color: #fff;
  width: 24px;
  height: 27px;
  text-align: center;
  padding-top: 5px;
  margin-top: 8px;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  user-select: none;
}

.bag:before {
  content: "";
  border: 1px solid #000;
  background: #0000;
  width: 14px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  top: -9px;
  left: 5px;
  z-index: -1;
}

.popover {
  background: transparent;
}

.popover > span {
  pointer-events: none;
}

.overlay {
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
}

.body {
  max-height: 200px;
  overflow: auto;
  background: #f1f1f1;
}

.body > div {
  margin: 0 !important;
  padding: 0 !important;
}

.body > div:not(:last-child):after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #e0e0e0;
  margin: 12px;
}

.body > div img {
  width: 64px !important;
}

.body > div h4 {
  font-size: 14px !important;
  white-space: nowrap;
  margin-bottom: 0;
}

.actions {
  padding: 8px 6px;
  background: #f1f1f1;
  border-top: 1px solid #ccc;
}

.actions > span {
  font-weight: bold;
}

.actions > a {
  background: #800080;
  text-decoration: none;
  color: #fff !important;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  position: absolute;
  right: 8px;
  display: inline;
}
